# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.env

# Django
*.sqlite3
db.sqlite3
/media

# VS Code
.vscode/

# Node
node_modules/
/dist

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/

# Build
build/

# npm
package-lock.json
